.banner {
  height: 50vh;
  position: relative;
  background: url("../../images/background.webp") center center;
}

.banner_searchButton {
  background-color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}

.banner_search {
  display: flex;
  flex-direction: column;
}

.banner_info {
  background-color: black;
  color: white;
  padding: 25vh 50px 50px 40px;
  width: 300px;
  max-height: 100%;
}

.banner_info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner_info > button:hover {
  background-color: #FF385C;
}