.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.header_logo {
    object-fit: contain;
    margin-left: 20px;
    max-height: 50px;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    height: 30px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 999px;

}

.header_search > input {
    border: none;
    width: 250px;
    padding: 10px;
    outline-width: 0;
}

.header_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 20px;
}